.circle_container {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.circle {
	height: inherit;
}

.circle_bg {
	fill: none;
	stroke: transparent;
	stroke-width: 2.2;
	opacity: 0.4;
}

.circle_progress {
	fill: none;
	stroke-width: 2.2;
	stroke-linecap: round;
	transition: stroke-dasharray 2s ease;
}

.circle_container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	color: #fff;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
}
