.container {
	width: 100%;
}

.container h2 {
	font-size: 2.5rem;
	color: var(--txt);
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
	margin-block-end: 4rem;
}

.movies {
	min-height: 200vh;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 0 auto;
	justify-content: center;
}

.moviesFiltered {
	min-height: auto;
}

.moviesError {
	min-height: 20vh;
}

.error {
	height: fit-content;
	font-size: 1.8rem;
	color: #dc3545;
	text-align: center;
}

.notFound {
	height: fit-content;
	font-size: 1.8rem;
	color: var(--txt);
	text-align: center;
}
